include ../mixin/mixin



- var data_page = data.page_serviceDetail.page_candleLightDinner

doctype html
html(lang='vi')
    head
        +head_setting(data_page)
    body
        include ../layout/general/header
        |
        |
        .wrapMain
            +render_breadcrumb(data_page)
            |
            |
            include ../layout/home/Booking
            |
            |
            include ../layout/services/ServiceDetail
        |
        |
        include ../layout/general/footer
        |
        |
        include ../layout/home/LinkSocial
        |
        |
        include ../layout/home/ButtonScroll
    script(type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b18ecf9f4e878a3')