include ../mixin/mixin



- var data_page = data.page_serviesList

doctype html
html(lang='vi')
    head
        +head_setting(data_page)
    body
        include ../layout/general/header
        |
        |
        .wrapMain
            +render_breadcrumb(data_page)
            |
            |
            include ../layout/home/Booking
            |
            |
            |
            |
            +render_itemNews(data_page.servies_list)
            |
            |
            include ../layout/rooms/PagingRoom
        |
        |
        include ../layout/general/footer
        |
        |
        include ../layout/home/LinkSocial
        |
        |
        include ../layout/home/ButtonScroll