//- // room list
//- .wrapRoom.wrapContent1.bgColor1
//-     .container-xl.containerItem 
//-         .contentItem
//-             .row.rowList.justify-content-center
//-                 each item in data.rooms
//-                     .col-sm-6.col-lg-4.colItem 
//-                         .contentCol 
//-                             .wrapImg
//-                                 a.wrapImgResize.img16And9(href= item.link title= item.title)
//-                                     img(src= item.img alt= item.title)
                            
//-                             .warpText 
//-                                 .wrapTitleAndStar.clearfix
//-                                     h3.titleItem1.titleMain 
//-                                         a.linkTitleItem3.linkTitle(href= item.link title= item.title)= item.title
                                    
//-                                     .wrapStar 
//-                                         - for(var i = 1; i <= 5; i++)
//-                                             svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512')
//-                                                 path(fill='currentColor' d='M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z')

//-                                 p.wrapPrice.titleItem3= '$'+ item.price +' VNĐ'

//-                                 .wrapInfoNumber 
//-                                     .row.row-cols-3.rowInfo 
//-                                         .col.colInfo
//-                                             .contentColInfo 
//-                                                 svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512')
//-                                                     path(fill='currentColor' d='M176 288C220.1 288 256 252.1 256 208S220.1 128 176 128S96 163.9 96 208S131.9 288 176 288zM544 128H304C295.2 128 288 135.2 288 144V320H64V48C64 39.16 56.84 32 48 32h-32C7.163 32 0 39.16 0 48v416C0 472.8 7.163 480 16 480h32C56.84 480 64 472.8 64 464V416h512v48c0 8.837 7.163 16 16 16h32c8.837 0 16-7.163 16-16V224C640 170.1 597 128 544 128z')
//-                                                 | King Bed

//-                                         .col.colInfo
//-                                             .contentColInfo 
//-                                                 svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
//-                                                     path(fill='currentColor' d='M32 384c0 28.32 12.49 53.52 32 71.09V496C64 504.8 71.16 512 80 512h32C120.8 512 128 504.8 128 496v-15.1h256V496c0 8.836 7.164 16 16 16h32c8.836 0 16-7.164 16-16v-40.9c19.51-17.57 32-42.77 32-71.09V352H32V384zM496 256H96V77.25C95.97 66.45 111 60.23 118.6 67.88L132.4 81.66C123.6 108.6 129.4 134.5 144.2 153.2C137.9 159.5 137.8 169.8 144 176l11.31 11.31c6.248 6.248 16.38 6.248 22.63 0l105.4-105.4c6.248-6.248 6.248-16.38 0-22.63l-11.31-11.31c-6.248-6.248-16.38-6.248-22.63 0C230.7 33.26 204.7 27.55 177.7 36.41L163.9 22.64C149.5 8.25 129.6 0 109.3 0C66.66 0 32 34.66 32 77.25v178.8L16 256C7.164 256 0 263.2 0 272v32C0 312.8 7.164 320 16 320h480c8.836 0 16-7.164 16-16v-32C512 263.2 504.8 256 496 256z')
//-                                                 = item.baths +' Bồn Tắm'

//-                                         .col.colInfo
//-                                             .contentColInfo 
//-                                                 svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
//-                                                     path(fill='currentColor' d='M512 255.1c0 8.188-3.125 16.41-9.375 22.66l-72 72C424.4 356.9 416.2 360 408 360c-18.28 0-32-14.95-32-32c0-8.188 3.125-16.38 9.375-22.62L402.8 288H288v114.8l17.38-17.38C311.6 379.1 319.8 376 328 376c18.28 0 32 14.95 32 32c0 8.188-3.125 16.38-9.375 22.62l-72 72C272.4 508.9 264.2 512 256 512s-16.38-3.125-22.62-9.375l-72-72C155.1 424.4 152 416.2 152 408c0-17.05 13.73-32 32-32c8.188 0 16.38 3.125 22.62 9.375L224 402.8V288H109.3l17.38 17.38C132.9 311.6 136 319.8 136 328c0 17.05-13.73 32-32 32c-8.188 0-16.38-3.125-22.62-9.375l-72-72C3.125 272.4 0 264.2 0 255.1s3.125-16.34 9.375-22.59l72-72C87.63 155.1 95.81 152 104 152c18.28 0 32 14.95 32 32c0 8.188-3.125 16.38-9.375 22.62L109.3 224H224V109.3L206.6 126.6C200.4 132.9 192.2 136 184 136c-18.28 0-32-14.95-32-32c0-8.188 3.125-16.38 9.375-22.62l72-72C239.6 3.125 247.8 0 256 0s16.38 3.125 22.62 9.375l72 72C356.9 87.63 360 95.81 360 104c0 17.05-13.73 32-32 32c-8.188 0-16.38-3.125-22.62-9.375L288 109.3V224h114.8l-17.38-17.38C379.1 200.4 376 192.2 376 184c0-17.05 13.73-32 32-32c8.188 0 16.38 3.125 22.62 9.375l72 72C508.9 239.6 512 247.8 512 255.1z')
//-                                                 = item.area +' M2'

//-                                 a.btnBook.btn3(href= item.link title='Đặt phòng' data-toggle='modal' data-target='#modalBookRoom') 
//-                                     | Đặt phòng
//-                                     svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
//-                                         path(fill='currentColor' d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z')
//-             +render_paging(5)
//- // end room list
