// form contact
.wrapFrmContact.wrapNews.wrapContent1
  .container-xl.containerItem
    .contentMainItem
      .row.row3.rowItem
        .col-lg-6.col3.colBanner
          .contentItem.wrapImgResize
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15597.646396124886!2d109.2001116!3d12.2203861!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdec1803c6f01d6ae!2sMiracle%20hotel!5e0!3m2!1sen!2s!4v1648452386495!5m2!1sen!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
        .col-lg-6.col3.colFrm
          .contentItem
            h2.titleMainItem1 Gửi lời nhắn
            p Đừng ngần ngại gửi cho chúng tôi những nhận xét cũng như yêu cầu của bạn.
            .wrapFrm
              .row.row1.rowFrm
                .col-sm-6.col1.colItemFrm
                  .contentFrm
                      input.form-control(type='text' placeholder='Nhập họ và tên')
                .col-sm-6.col1.colItemFrm
                  .contentFrm
                      input.form-control(type='text' placeholder='Nhập email')
                .col-sm-12.col1.colItemFrm
                  .contentFrm
                      input.form-control(type='text' placeholder='Tiêu đề')
                .col-sm-12.col1.colItemFrm
                  .contentFrm
                    textarea.form-control(rows='5' placeholder='Nhập tin nhắn')
                .col-sm-12.col1.colItemFrm.captcha
                  .contentFrm
                    .clearfix.list
                      input.form-control(type='text' placeholder='Nhập mã xác nhận')
                      .clearfix.js-captcha-contact
                        img(src='images/captcha/captcha.png' alt='captcha')
                        img(src='images/captcha/refresh-captcha.png' alt='refresh-captcha')
                .col-sm-12.col1.colItemFrm
                  .contentFrm
                      a.btn1.btnSendMessage(href='javascript:void(0);' title='Gửi ngay')
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(fill="currentColor" d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z")
                        | G&#x1EED;i ngay
                        


// end form contact
