.googleMapWrap
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.2710672790954!2d108.19058851524154!3d10.942884859090283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317685844e28b1e7%3A0xdef69de22952e45!2sVIPOL%20MUI%20NE%20HOTEL!5e0!3m2!1svi!2s!4v1650735234176!5m2!1svi!2s" width="850" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
