// discover
.wrapperDiscover
    .containerDiscover.container
        .wrapperTitleSection
            h2.titleSection Discover Vipol Muine Hotel
            p.descriptionTitleSection
                | Where attention to detail will make your journey unforgettable
        .contentDiscover
            .elementDiscover
                .containerElementDiscover.row
                    .wrapperImageDiscover.col-md-6
                        a.linkImageDiscover(href='javascript:void(0);' title='Vipol Muine Hotel')
                            img.imageDiscover(src='images/introduction/discover-1.jpg' alt='Vipol Muine Hotel')
                    .wrapperContentDiscover.col-md-6
                        h3.nameDiscover Restaurant
                        p.descriptionDiscover The art of culinary
                        a.buttonPrimary-outline(href='javascript:void(0);' title='Chi tiết nhà hàng Vipol Muine Hotel') Read More
            .elementDiscover
                .containerElementDiscover.row
                    .wrapperImageDiscover.col-md-6
                        a.linkImageDiscover(href='javascript:void(0);' title='Vipol Muine Hotel')
                            img.imageDiscover(src='images/introduction/discover-2.jpg' alt='Vipol Muine Hotel')
                    .wrapperContentDiscover.col-md-6
                        h3.nameDiscover Bar
                        p.descriptionDiscover The sophisticated way to drink
                        a.buttonPrimary-outline(href='javascript:void(0);' title='Chi tiết quầy bar Vipol Muine Hotel') Read More
            .elementDiscover
                .containerElementDiscover
                    .wrapperImageDiscover
                        a.linkImageDiscover(href='javascript:void(0);' title='Vipol Muine Hotel')
                            img.imageDiscover(src='images/introduction/discover-3.jpg' alt='Vipol Muine Hotel')
                    .wrapperContentDiscover
                        h3.nameDiscover Vietnam Travel
                        p.descriptionDiscover
                            | Join our Vietnam tour packages and enjoy your Vietnam trip!
                        a.buttonPrimary(href='javascript:void(0);' title='Chi tiết chuyến du lịch Việt Nam của Vipol Muine Hotel') Read More
            .elementDiscover
                .containerElementDiscover.row
                    .wrapperImageDiscover.col-md-6
                        a.linkImageDiscover(href='javascript:void(0);' title='Vipol Muine Hotel')
                            img.imageDiscover(src='images/introduction/discover-4.jpg' alt='Vipol Muine Hotel')
                    .wrapperContentDiscover.col-md-6
                        h3.nameDiscover Infinity Pool
                        p.descriptionDiscover Enjoy the luxury of relaxation
                        a.buttonPrimary-outline(href='javascript:void(0);' title='Chi tiết hồ bơi vô cực Vipol Muine Hotel') Read More
            .elementDiscover
                .containerElementDiscover.row
                    .wrapperImageDiscover.col-md-6
                        a.linkImageDiscover(href='javascript:void(0);' title='Vipol Muine Hotel')
                            img.imageDiscover(src='images/introduction/discover-5.jpg' alt='Vipol Muine Hotel')
                    .wrapperContentDiscover.col-md-6
                        h3.nameDiscover Transfer Service
                        p.descriptionDiscover
                            | We want travel to be as simple and enjoyable as possible...
                        a.buttonPrimary-outline(href='javascript:void(0);' title='Chi tiết dịch vụ đưa đón Vipol Muine Hotel') Read More
// end discover
