.wrapperTitleSection
    h2.titleSection Room & Suite
    p.descriptionTitleSection
        | Vipol Muine Hotel offers some kinds of rooms: Standard, Superior, Deluxe, Executive, Junior
        | Suite and Suite.