// slide main
.wrapperMainSlide
    .containerMainSlide
        .showMainSlide
            each item in data.slide_main
                .itemMainSlide
                    .wrapperImageMainSlide
                        a.linkImageMainSlide(href= item.link title='Vipol Muine Hotel')
                            img.imageMainSlide(src= item.url_img alt='Vipol Muine Hotel')
// end slide main