// welcome
.wrapperWelcome
    .containerWelcome.container
        .contentWelcome
            .wrapperTitleSection
                h2.titleSection
                    | Welcome to 
                    br
                    |  Vipol Muine Hotel
            .wrapperTextWelcome
                p
                    | Dear Valued Guests, Warmest greetings from Vipol Muine Hotel! Thank you for visiting our website
                    | and your interest in our Hotel. I would like to share with you the story of our Hotel. We would
                    | like to offer our guests the most luxurious, professional, and perfect service at a best
                    | available rate. Our slogan is “Experience to Enjoy”.
                p
                    | Innovative room design and modern amenities ensure an enjoyable, hassle-free stay, complete with
                    | hotel-wide free Wi-Fi, rain showers and sea view balconies in every room...
                    a(href='javascript:void(0);' title='Detail Vipol Muine Hotel') (Read More)
            .wrapperBottomWelcome.row
                .elementBottomWelcome.col-lg-6
                    .wrapperBenefitWelcome.row
                        .elementBenefitWelcome.col-md-4
                            img.imageBenefitWelcome(src='images/icon/city-center.png' alt='icon benefit')
                            span.textBenefitWelcome City center location
                        .elementBenefitWelcome.col-md-4
                            img.imageBenefitWelcome(src='images/icon/luxury.png' alt='icon benefit')
                            span.textBenefitWelcome New dimension of luxury
                        .elementBenefitWelcome.col-md-4
                            img.imageBenefitWelcome(src='images/icon/personalize.png' alt='icon benefit')
                            span.textBenefitWelcome Personalized service
                .elementBottomWelcome.col-lg-4
                    .wrapperRatting
                        p
                            strong TripAdvisor Traveler Rating:
                        img.logoRatting(src='images/logo/logo_trip.png' alt='logo Tripadvisor')
                        p
                            | Based on more 4,000 traveler reviews
                        a(href='javascript:void(0);' title='Comment in Tripadvisor') Read Review
// end welcome
