// variables
@import "../abstracts/variables";
// end variables

// mixins
@import "../abstracts/mixins";
// end mixin

// main slide
@import "../layouts/mainSlide";
// end main slide

// room 
@import "../layouts/room";
// 

// breadcrumb
@import "../layouts/breadcrumb";
// end breadcrumb

// paging
@import "../components/pagging";
// end paging
//tripAdvisorTraveler
@import "../components/tripAdvisorTraveler";
// end tripAdvisorTraveler

.roomListWrapper {
  padding-block: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  .roomItem {
    .roomItemImage {
      transition: all linear 2s;
      width: 100%;
      height: 230px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &:hover {
        .roomMore {
          display: flex;
        }
      }
      .roomMore {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        align-items: center;
        padding: 8px 12px;
        display: none;
        transition: all linear 2s;

        .roomMoreTitle {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;
        }
      }
    }
    .roomContent {
      margin-block: 15px;
      .roomContentText {
        margin-bottom: 0;
      }
    }
    .roomFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .roomPirce {
        font-size: 12px;
        line-height: 16px;
        span {
          color: $color4;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          margin-right: 4px;
        }
      }
    }
  }
}

/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 1023px) {
}

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {
  .roomListWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .roomListWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PC Low */
@media (min-width: 1024px) and (max-width: 1239px) {
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
}
