.wrapBreadcrumb {
    position: relative;
    margin-top: 180px;
    // height: 0;
    overflow: hidden;
    .titleItem{
        color: $color1;
    }
    .wrapImgItem {
        background-color: $color8;

        .wrapImgResize {
            height: 500px;
        }

        img  {
            width: 100%;
            height: 100%;
            @include opacity(0.6);
            object-fit: cover;

        }
    }

    .contentText {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        @include translate(0, -50%);
    }

    .wrapTitleMain {
        margin-bottom: 15px;
    }

    .wrapMenu {
        .linkItem {
            display: block;
            float: left;
            font-size: 16px;
            line-height: 22px;
            color: $color1;
            text-transform: capitalize;
            margin-left: 5px;
            @include transition(0.5s);

            &:hover {
                color: $color3;
                -webkit-mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
                -webkit-mask-size: 200%;
                animation: shine 2s infinite;
            }

            &:first-child {
                margin-left: 0;
            }

            svg {
                height: 20px;
                width: 15px;
                @include translate(0, -1px);
            }

            &:last-child {
                svg {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .wrapBreadcrumb {    
        .wrapImgItem {    
            .wrapImgResize {
                height: 300px;
            }
        }
    }
}

@media (max-width: 991px) {
    .wrapBreadcrumb {
        margin-top: 80px;
        .titleItem {
            font-size: 20px;
            line-height: 30px;
            padding-bottom: 5px;

            &::after {
                width: 30px;
            }
        }

        .wrapTitleMain {
            margin-bottom: 5px;
        }

        .wrapImgItem {    
            .wrapImgResize {
                height: 180px;
            }
        }
    }
}

@media (max-width: 575px) {
    .wrapBreadcrumb {    
        .titleItem {
            font-size: 16px;
            line-height: 22px;
        }

        .wrapImgItem {    
            .wrapImgResize {
                height: 150px;
            }
        }
    }
}