//tripAdvisorTraveler
@import "../components/tripAdvisorTraveler";
// end tripAdvisorTraveler

.wrapperWelcome {
  padding-block: 40px;
}

.wrapperTextWelcome {
  padding-block: 20px;

  p {
    font-size: 16px;
    line-height: 22px;
    color: $color8;
    text-align: center;
    margin-bottom: 8px;
    @include splitText(8, 166px);
  }
  a {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $color3;
    transition: all 0.5s;
    &:hover {
      color: $color4;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapperTextWelcome {
    p {
      font-size: 14px;
      line-height: 20px;
      .readMoreWelcome {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
