@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 700; }

body {
  font-family: "Montserrat"; }

.wrapperMoment {
  padding-top: 40px;
  padding-bottom: 40px; }

.contentMoment {
  margin-top: 20px;
  margin-right: -8px;
  position: relative; }

.elementMoments {
  float: left; }

.containerElementMoment {
  padding-left: 0;
  padding-right: 8px;
  padding-bottom: 8px; }
  .containerElementMoment:hover .wrapperImageMoment .imageMoment {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }

.wrapperImageMoment {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden; }
  .wrapperImageMoment .imageMoment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -o-object-fit: cover;
       object-fit: cover; }
  .wrapperImageMoment svg {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 22px;
    height: 22px;
    color: #ffffff; }

.wrapperButtonMoment {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapperButtonMoment .buttonPrimary-outline {
    border-color: #ee4121;
    color: #ee4121;
    padding: 14px 39px;
    font-size: 12px;
    line-height: 20px; }
    .wrapperButtonMoment .buttonPrimary-outline:hover {
      background-color: #0f77be;
      border-color: #0f77be;
      color: #ffffff; }

@media (min-width: 992px) {
  .elementMoments {
    width: 16.665%; }
    .elementMoments:nth-child(3) {
      float: none;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 16.665%; }
    .elementMoments:nth-child(4) {
      float: none;
      position: absolute;
      top: 0;
      left: 16.665%;
      margin-top: 16.665%; }
    .elementMoments:nth-child(5) {
      width: 33.33%; }
      .elementMoments:nth-child(5) .wrapperImageMoment {
        padding-top: calc(100% - 0.1px); }
    .elementMoments.resize {
      width: 25%; }
      .elementMoments.resize .wrapperImageMoment {
        padding-top: 66.66%; }
      .elementMoments.resize:nth-child(3) {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 16.665%; }
      .elementMoments.resize:nth-child(4) {
        float: none;
        position: absolute;
        top: 0;
        left: 25%;
        margin-top: 16.665%; }
      .elementMoments.resize:nth-child(5) {
        width: 50%; } }

@media (max-width: 991.98px) {
  .wrapperImageMoment {
    padding-top: 66.66%; }
  .contentMoment {
    padding-left: 8px; }
  .elementMoments {
    width: 50%; }
    .elementMoments:nth-child(5) {
      width: 100%; } }
