.roomDetailWrapper.container
    .row.rowItem 
        .col-lg-8.colImg
            .wrapSlideMainImg
                .showSlideMainImg 
                    each item in data.rooms
                        .itemSlide(data-src= item)
                            .contentImg 
                                .wrapImgResize.img16And9 
                                    img(src= item.images)

            .wrapSlideCtrlImg
                .showSlideCtrlImg 
                    each item in data.rooms
                        .itemSlide
                            .contentImg 
                                .wrapImgResize.img16And9 
                                    img(src= item.images)
            .roomDetailTitleWrapper 
                h2.roomDetailTitle ROOM STANDARD
                .wrapperPriceRoom.wrapperPriceRoomDetail
                    p.priceRoom.haveDiscount 5.000.000 VNĐ
                    p.priceRoom 4.000.000 VNĐ
            .roomDetailContentWrapper
                .roomDetailContentItem
                    .roomDetailDescWrapper 
                        h3.roomDetailDesc Description
                        h4.roomDetailSubDesc Spend Great Time in Our Hotel!
                        p.roomDetailDescText With a new level of luxury, Suite represents life at its finest with European or Asian style interior decoration. This suite offers a luxurious seductive bedroom and plenty of the 21st century technology. Its high floor location expresses the desirable view of stunning Nha Trang Bay and the coastal city stretching out underneath.
                        h3.roomDetailSubDesc Facilities
                    .roomDetalFacilitiesWrapper 
                        ul.roomDetalFacilitiesList
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Private balcony
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Free high-speed Wi-Fi
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span 02 bottles of complimentary water
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Bathrobe and slippers
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span UV protection and sound proof window
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Reading light
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Full serviced minibar
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Welcome fresh fruit upon check-in
                        ul.roomDetalFacilitiesList
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Free sauna and jacuzzi 
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Air conditioner
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Rainshower
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Bathtub
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Complimentary tea and coffee
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span LCD TV 43’’
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span International TV channels
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Safety deposit box
                .roomDetailContentItem
                    .roomDetailInfo
                        ul.roomDetailInfoList 
                            li.roomDetailInfoItem
                                p Double bed:
                                span 01
                            li.roomDetailInfoItem
                                p sqm:
                                span 80
                            li.roomDetailInfoItem
                                p adults:
                                span 03
                            li.roomDetailInfoItem
                                p child:
                                span 01
                    .roomDetalContact 
                        h4.roomDetalContactTitle Contact
                        ul.roomDetalContactList
                            li.roomDetalContactItem 
                                span Address: 
                                | 29A Nguyen Dinh Chieu, Ham Tien Ward, City. Phan Thiet, Binh Thuan Province
                            li.roomDetalContactItem 
                                span Phone: 
                                | +84 123456789
                            li.roomDetalContactItem 
                                span Fax: 
                                | +84 123456789
            .wrapShare.clearfix
                .titleShare Chia sẻ ngay:
                .listBtnSharePost
                    .addthis_inline_share_toolbox_wc4f
        .col-lg-4
            h3.roomDetailRelatedTitle Related Room 
            ul.roomRelatedList
                each item in data.rooms
                    li.roomRelatedItem
                        .row.roomDetailRelatedItemWrap
                            .roomDetailRelatedImagesWrapper.col-lg-6.col-md-6.col-6
                                .roomDetailRelatedImages
                                    a(href= item.link).wrapImgResize.img16And9.roomDetailRelatedImg
                                        img(src= item.images, alt= item.name)
                            .roomDetailRelatedInfo.col-lg-6.col-md-6.col-6
                                h4.roomRelatedInfoTitle
                                    a(href= item.link)=item.name
                                    .roomRelatedPrice 
                                        span.roomRelatedPriceOld
                                            = item.priceOld
                                            | VNĐ
                                        span.roomRelatedPriceCurrent
                                            = item.priceCurrent
                                            | VNĐ
                

