.roomDetailWrapper.container
    +render_tripAdvisor_traveler
    .row.rowItem 
        .col-lg-12.colImg
            .wrapSlideMainImg
                .showSlideMainImg 
                    each item in data.rooms
                        .itemSlide(data-src= item)
                            .contentImg 
                                .wrapImgResize.img16And9 
                                    img(src= item.images)
                .descTableWrapper 
                    h4.descTableTitle Room Standard
                    p.descTableContent A first for a 4-star Boutique Hotel in Mui Ne, Vipol Muine Hotel offer split level living, surrounded by the latest high-tech comforts and conveniences.
                    ul.descTableServiceList 
                        li.descTableServiceItem 
                            .descTableServiceIcon 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M448 384H480C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H448V480C448 497.7 433.7 512 416 512C398.3 512 384 497.7 384 480V173.3L173.3 384H352V448H128C92.65 448 64 419.3 64 384V128H32C14.33 128 0 113.7 0 96C0 78.33 14.33 64 32 64H64V32C64 14.33 78.33 0 96 0C113.7 0 128 14.33 128 32V338.7L338.7 128H160V64H402.7L457.4 9.372C469.9-3.124 490.1-3.124 502.6 9.372C515.1 21.87 515.1 42.13 502.6 54.63L448 109.3V384z')
                            span Room size: 45 - 50 sqm
                        li.descTableServiceItem 
                            .descTableServiceIcon 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512')
                                    path(d='M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z')
                            span View: Beach View
                        li.descTableServiceItem 
                            .descTableServiceIcon 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512')
                                    path(d='M176 288C220.1 288 256 252.1 256 208S220.1 128 176 128S96 163.9 96 208S131.9 288 176 288zM544 128H304C295.2 128 288 135.2 288 144V320H64V48C64 39.16 56.84 32 48 32h-32C7.163 32 0 39.16 0 48v416C0 472.8 7.163 480 16 480h32C56.84 480 64 472.8 64 464V416h512v48c0 8.837 7.163 16 16 16h32c8.837 0 16-7.163 16-16V224C640 170.1 597 128 544 128z')
                            span Beds: Double bed: 1
                        li.descTableServiceItem 
                            .descTableServiceIcon 
                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                path(d='M96 304C96 312.8 103.3 320 112 320h117.5l-96-96H112C103.3 224 96 231.3 96 240V304zM256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 448c-105.9 0-192-86.13-192-192c0-41.38 13.25-79.75 35.75-111.1l267.4 267.4C335.8 434.8 297.4 448 256 448zM301.2 256H384v32h-50.81L301.2 256zM412.3 367.1L365.2 320H400c8.75 0 16-7.25 16-16v-64C416 231.3 408.8 224 400 224h-130.8L144.9 99.75C176.3 77.25 214.6 64 256 64C361.9 64 448 150.1 448 256C448 297.4 434.8 335.8 412.3 367.1zM320.6 128C305 128 292 116.8 289.3 102.1C288.5 98.5 285.3 96 281.5 96h-16.25c-5 0-8.625 4.5-8 9.375C261.9 136.3 288.5 160 320.6 160C336.3 160 349.3 171.3 352 185.9C352.8 189.5 356 192 359.8 192h16.17c5 0 8.708-4.5 7.958-9.375C379.3 151.7 352.8 128 320.6 128z')
                            span Smoking: No
                        li.descTableServiceItem 
                            .descTableServiceIcon 
                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512')
                                path(d='M224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3C0 496.5 15.52 512 34.66 512h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM616 200h-48v-48C568 138.8 557.3 128 544 128s-24 10.75-24 24v48h-48C458.8 200 448 210.8 448 224s10.75 24 24 24h48v48C520 309.3 530.8 320 544 320s24-10.75 24-24v-48h48C629.3 248 640 237.3 640 224S629.3 200 616 200z')
                            span Max occupancy: 4 Adults + 01 Child under 4

            .wrapSlideCtrlImg
                .showSlideCtrlImg 
                    each item in data.rooms
                        .itemSlide
                            .contentImg 
                                .wrapImgResize.img16And9 
                                    img(src= item.images)
            .roomDetailTitleWrapper 
                .wrapperPriceRoom.wrapperPriceRoomDetail
                    p.priceRoom.haveDiscount 5.000.000 VNĐ
                    p.priceRoom 4.000.000 VNĐ
            .roomDetailContentWrapper
                .roomDetailContentItem
                    .roomDetailDescWrapper 
                        h3.roomDetailDesc Features
                        h4.roomDetailSubDesc Spend Great Time in Our Hotel!
                        p.roomDetailDescText Elegantly luxurious with a décor that mixes contemporary style and Oriental chic; our stunning split-level Duplex suites enjoy magical views over the city’s rooftops. Entered via a hallway, the beautifully furnished ground floor contains a Kingbed room with stylish furnishings and silk cushions. 
                        p.roomDetailDescText Upstairs, a king-size bed swathed in luxurious 500-thread count linens takes pride of place in the sumptuous bedroom. Adjacent to this lays a large light-filled bathroom with walk-in shower or separate bathtub. 
                        p.roomDetailDescText Textured furnishings and supreme attention to detail differentiate these remarkable two-floor suites from all others. 
                        h3.roomDetailSubDesc Facilities
                    .roomDetalFacilitiesWrapper 
                        ul.roomDetalFacilitiesList
                            h5.roomDetalFacilitiesTitle Highlights
                            li.roomDetalFacilitiesItem
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Special design for 4 Adults + 01 Child under 4
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Window/City View
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Daily complimentary international buffet breakfast
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Daily housekeeping & turndown service
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Electronic safe deposit box
                        ul.roomDetalFacilitiesList
                            h5.roomDetalFacilitiesTitle Technology
                            li.roomDetalFacilitiesItem
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span 32’’ flat screen TV with cable program
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span IDD telephone
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span FREE Highspeed Wireless internet access
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Refrigerator & Minibar
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Dual split-type Air-conditioning
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Electrical adaptor
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Electronic Key Card System
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span 24-hour power back-up
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Security peephole
                        ul.roomDetalFacilitiesList
                            h5.roomDetalFacilitiesTitle Bed & Bath
                            li.roomDetalFacilitiesItem
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span 1st Floor: 01 King bed or 02 Twin beds & 2nd Floor: 01 King bed
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Crib available upon request
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Bathroom with standing shower & bathtub Iron & ironing board
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Weighing scale
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Hair dryer
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Shaver outlet (220 volts)
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Deluxe toiletries
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')
                                span Make up/shaving mirror
                        ul.roomDetalFacilitiesList
                            h5.roomDetalFacilitiesTitle Others
                            li.roomDetalFacilitiesItem
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Welcome drinks & refresh towels
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Orientation map
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Daily complimentary fruit platter
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Coffe table & chair
                            li.roomDetalFacilitiesItem 
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                    path(d='M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z')

                                span Tea bags & coffee making facilities
            .wrapShare.clearfix
                .titleShare Chia sẻ ngay:
                .listBtnSharePost
                    .addthis_inline_share_toolbox_wc4f
        .col-lg-12
            h3.roomDetailRelatedTitle Related Room 
            // room
            .wrapperRoom
                .containerRoom
                    .contentRoom
                        .wrapperListRoom
                            ul.listRoom.row
                                each item, index in data.rooms
                                    if index < 3
                                        li.itemRoom.col-md-12.col-xl-4
                                            .containerItemRoom
                                                .wrapperImageRoom
                                                    a.linkImageRoom(href= item.link title='Image Room')
                                                        img.imageRoom(src= item.images alt='Room')
                                                .wrapperNameRoom.backgroundColor1
                                                    h3.nameRoom
                                                        a.linkNameRoom(href= item.link title='Standard Room') Standard Room
                                                .wrapperTextRoom
                                                    p= item.sumary
                                                .wrapperPriceRoom
                                                    p.priceRoom.haveDiscount
                                                        = item.priceOld
                                                        span VNĐ
                                                    p.priceRoom
                                                        = item.priceCurrent
                                                        span VNĐ
                                                .wrapperButtonRoom
                                                    a.buttonPrimary(href= item.link title='Room Detail')
                                                        | See
                                                        | More
                                                    a.buttonPrimary-outline(href= item.link title='Book Now')
                                                        | Book
                                                        | Now
            // end room


