.roomDetailSlideWrapper.container
    .roomDetailSlideMain
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-1.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-2.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-3.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-4.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-5.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-6.jpg", alt="")
    .roomDetailSlideList
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-2.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-3.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-4.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-5.jpg", alt="")
        .roomDetailSlideItem
            img(src="../../../images/introduction/room-6.jpg", alt="")