// footer
.wrapperFooter
    .containerFooter.container
        .contentFooter
            .wrapperFollow
                h2.nameFollow
                    | Follow Us
                p.descriptionFollow
                    | Stay in touch and connected to all the news and happenings.
                ul.listSocialFollow
                    li.itemSocialFollow
                        img.iconSocialFollow(src='images/icon/icon-facebook.svg' alt='icon facebook')
                    li.itemSocialFollow
                        img.iconSocialFollow(src='images/icon/icon-twitter.svg' alt='icon twitter')
                    li.itemSocialFollow
                        img.iconSocialFollow(src='images/icon/icon-instagram.svg' alt='icon instagram')
                    li.itemSocialFollow
                        img.iconSocialFollow(src='images/icon/icon-youtube.svg' alt='icon youtube')
            .wrapperNavigationFooter
                ul.listNavigationFooter
                    li.itemNavigationFooter
                        a.linkNavigationFooter(href='javascript:void(0);' title='Use Our App') Use Our App
                    li.itemNavigationFooter
                        a.linkNavigationFooter(href='javascript:void(0);' title='News') News
                    li.itemNavigationFooter
                        a.linkNavigationFooter(href='javascript:void(0);' title='Loyalty') Loyalty
                    li.itemNavigationFooter
                        a.linkNavigationFooter(href='javascript:void(0);' title='Newsletter') Newsletter
            .wrapperBottomFooter
                h4.nameBottomFooter
                    | Vipol Muine Hotel
                p
                    | Address: 29A Nguyen Dinh Chieu, Ham Tien Ward, City. Phan Thiet, Binh Thuan Province
                p
                    | Phone: +84 123456789 - Fax: +84 123456789
            .wrapperListLinkBottomFooter
                a.linkBottomFooter.noHover(href='javascript:void(0);' title='Vipol Muine Hotel')
                    | @2022 Vipol
                    | Muine Hotel
                a.linkBottomFooter(href='javascript:void(0);' title='Contact Us')
                    | Contact
                    | Us
                a.linkBottomFooter(href='javascript:void(0);' title='Carrer') Career
                a.linkBottomFooter(href='javascript:void(0);' title='Legal Notice') Legal Notice
                a.linkBottomFooter.linkHightlight(href='javascript:void(0);' title='Cooke Policy') Cooke Policy
                a.linkBottomFooter(href='javascript:void(0);' title='Designed by SweetSoft')
                    | Website
                    | Design
            .wrapperCopyright
                span © Copyright 2022. Vipol Muine Hotel.
                span
                    | Designed and developed by
                    a(href='javascript:void(0);' title='Designed by SweetSoft') SweetSoft JSC
                    
+render_link_js(data_page)