//Service
.wrapServices.wrapContent1.bgColor1
  .container-xl.containerItem
    .contentItem
      .lstService
        .row.itemService.bgColor1
          .col-xs-12.col-lg-6.colItem
            .wrapImg
              a.wrapImgResize.img16And9.img16And9-1(href='service-detail.html' title='Phòng Hội Nghị')
                img(src='images/services/1.jpg' alt='Phòng Hội Nghị')
          .col-xs-12.col-lg-6.order-last.colItem
            .warpText
              .contentText
                h3.titleItem1.titleMain
                  a.linkTitleItem3.linkTitle(href='service-detail.html' title='Phòng Hội Nghị') Ph&ograve;ng H&#x1ED9;i Ngh&#x1ECB;
                p.wrapSummary
                  | V&#x1EDB;i mong mu&#x1ED1;n tr&#x1EDF; th&agrave;nh m&#x1ED9;t trong nh&#x1EEF;ng &dstrok;&#x1ECB;a &dstrok;i&#x1EC3;m l&yacute; t&#x1B0;&#x1EDF;ng &dstrok;&#x1EC3; t&#x1ED5; ch&#x1EE9;c c&aacute;c s&#x1EF1;
                  | ki&#x1EC7;n t&#x1EA1;i Nha Trang, Miracle Luxury Hotel Nha Trang &dstrok;&#x1B0;&#x1EE3;c thi&#x1EBF;t k&#x1EBF; d&#x1EF1;a tr&ecirc;n s&#x1EF1; k&#x1EBF;t h&#x1EE3;p &dstrok;&#x1ED9;c &dstrok;&aacute;o gi&#x1EEF;a
                  | c&aacute;c y&#x1EBF;u t&#x1ED1; phong c&aacute;ch, &dstrok;a n&abreve;ng v&agrave; linh ho&#x1EA1;t
                a.btnWatchMore.btn2(href='service-detail.html' title='Xem thêm')
                  | Xem th&ecirc;m
                  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                    path(fill='currentColor' d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z')
        .row.itemService.bgColor1
          .col-lg-6.col-xs-12.order-last.colItem
            .wrapImg
              a.wrapImgResize.img16And9.img16And9-1(href='service-detail.html' title='Hồ bơi vô cực')
                img(src='images/services/2.jpg' alt='Hồ bơi vô cực')
          .col-lg-6.col-xs-12.colItem
            .warpText
              .contentText
                h3.titleItem1.titleMain
                  a.linkTitleItem3.linkTitle(href='service-detail.html' title='Hồ bơi vô cực') H&#x1ED3; b&#x1A1;i v&ocirc; c&#x1EF1;c
                p.wrapSummary
                  | Ph&#x1A1;i m&igrave;nh d&#x1B0;&#x1EDB;i &aacute;nh n&#x1EAF;ng &#x1EA5;m &aacute;p c&#x1EE7;a v&ugrave;ng bi&#x1EC3;n nhi&#x1EC7;t &dstrok;&#x1EDB;i v&agrave; h&ograve;a v&agrave;o l&agrave;n n&#x1B0;&#x1EDB;c
                  | xanh m&aacute;t t&#x1EA1;i h&#x1ED3; b&#x1A1;i v&ocirc; c&#x1EF1;c c&#x1EE7;a ch&uacute;ng t&ocirc;i. C&ograve;n g&igrave; tuy&#x1EC7;t v&#x1EDD;i h&#x1A1;n khi ng&acirc;m m&igrave;nh th&#x1EAD;t l&acirc;u v&agrave; th&#x1B0; gi&atilde;n
                  | t&#x1EA1;i h&#x1ED3; b&#x1A1;i sau m&#x1ED9;t ng&agrave;y d&agrave;i ng&#x1EAF;m c&#x1EA3;nh &dstrok;&#x1EB9;p t&#x1EA1;i Nha Trang. H&#x1ED3; b&#x1A1;i &dstrok;&#x1B0;&#x1EE3;c thi&#x1EBF;t k&#x1EBF; &dstrok;&#x1ED9;c &dstrok;&aacute;o v&#x1EDB;i ch&#x1EA5;t
                  | li&#x1EC7;u k&iacute;nh trong su&#x1ED1;t mang &dstrok;&#x1EBF;n tr&#x1EA3;i nghi&#x1EC7;m ho&agrave;n to&agrave;n m&#x1EDB;i cho qu&yacute; kh&aacute;ch.
                a.btnWatchMore.btn2(href='service-detail.html' title='Xem thêm')
                  | Xem th&ecirc;m
                  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                    path(fill='currentColor' d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z')
        .row.itemService.bgColor1
          .col-lg-6.col-xs-12.colItem
            .wrapImg
              a.wrapImgResize.img16And9.img16And9-1(href='service-detail.html' title='Sân thượng')
                img(src='images/services/3.jpg' alt='Sân thượng')
          .col-lg-6.col-xs-12.order-last.colItem
            .warpText
              .contentText
                h3.titleItem1.titleMain
                  a.linkTitleItem3.linkTitle(href='service-detail.html' title='Sân thượng') S&acirc;n Th&#x1B0;&#x1EE3;ng
                p.wrapSummary
                  | &Dstrok;&agrave;i quan s&aacute;t 360&deg; l&agrave; &dstrok;i&#x1EC3;m &dstrok;&#x1EBF;n &dstrok;&#x1EA7;u ti&ecirc;n khai th&aacute;c lo&#x1EA1;i h&igrave;nh tham quan &dstrok;&#x1EB7;c bi&#x1EC7;t
                  | n&agrave;y t&#x1EA1;i Nha Trang, gi&uacute;p b&#x1EA1;n tr&#x1EA3;i nghi&#x1EC7;m th&agrave;nh ph&#x1ED1; tuy&#x1EC7;t &dstrok;&#x1EB9;p t&#x1EEB; tr&ecirc;n cao. Ch&#x1EBF; &dstrok;&#x1ED9; xem 360 &dstrok;&#x1ED9;, b&#x1EA1;n c&oacute;
                  | th&#x1EC3; ng&#x1EAF;m nh&igrave;n v&#x1ECB;nh, th&agrave;nh ph&#x1ED1; v&agrave; &dstrok;&#x1ED3;i n&uacute;i v&#x1EDB;i c&aacute;c &dstrok;i&#x1EC3;m quan s&aacute;t kh&aacute;c nhau v&agrave;o ban ng&agrave;y v&agrave; chi&#x1EC1;u
                  | t&#x1ED1;i.
                a.btnWatchMore.btn2(href='service-detail.html' title='Xem thêm')
                  | Xem th&ecirc;m
                  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                    path(fill='currentColor' d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z')
    +render_paging(5)